{% extends "base.html" %} {% block title %} Predicted Slices | BTS {% endblock %} {% block body %}
<div class="m-2 p-2">
    <div  class="m-2 p-2">
        <h3>Image Slices of all 4 modalities</h3>
        <div class=row>
            <div class="col-12 col-sm-3">
                <img class="row" src="../static/images/saved/flair.jpg">
                <p style="text-align:center;" class="row">Slice of FLAIR modality</p>
            </div>
            <div class="col-12 col-sm-3">
                <img class="row" src="../static/images/saved/t1.jpg">
                <p style="text-align:center;" class="row">Slice of T1 modality</p>
            </div>
            <div class="col-12 col-sm-3">
                <img class="row" src="../static/images/saved/t1ce.jpg">
                <p style="text-align:center;" class="row">Slice of T1-ce modality</p>
            </div>
            <div class="col-12 col-sm-3">
                <img class="row" src="../static/images/saved/t2.jpg">
                <p style="text-align:center;" class="row">Slice of T2 modality</p>
            </div>
        </div>
    </div>


    <div  class="m-2 p-2">
        <h3>Predicted Tumor Region using 3 different Models</h3>
        <div class=row>
            <div class="col-12 col-sm-4">
                <img class="row" src="../static/images/saved/sobel_unet_image.jpg">
                <p style="text-align:center;" class="row">Predicted Tumor region using modified U-Net with Sobel operator</p>
            </div>
            <div class="col-12 col-sm-4">
                <img class="row" src="../static/images/saved/vnet_image.jpg">
                <p style="text-align:center;" class="row"></p>Predicted Tumor region using V-Net</p>
            </div>
            <div class="col-12 col-sm-4">
                <img class="row" src="../static/images/saved/wnet_image.jpg">
                <p style="text-align:center;" class="row">Predicted Tumor region using W-Net</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}